networks:
  web:
    name: web
  intercom:
    name: intercom

volumes:
  order_pg_vol:

services:
  traefik:
    image: "traefik:v3.5.2"
    # todo add traefik config
    command: 
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
    ports:
      - "80:80"
    volumes:
      - "//var/run/docker.sock:/var/run/docker.sock"
    # todo only expose network web
    networks:
      - web


  orderservice:
    container_name: orderservice
    build: .
    command: [ "/app/ordersystem" ]
    # todo add traefik labels
    labels:
      - traefik.enable=true
      - traefik.http.routers.orders.rule=Host(`orders.localhost`)
      - traefik.http.routers.orders.entrypoints=web
      - traefik.http.services.orders.loadbalancer.server.port=3000
      - traefik.docker.network=web
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432
      - DB_HOST=order-postgres
    depends_on:
      order-postgres:
        condition: service_healthy
    restart: on-failure
    networks:
      - intercom
      - web

  sws:
    image: joseluisq/static-web-server:latest
    # todo add frontend folder as volume
    volumes:
      - ./frontend:/frontend:ro
    # todo setup environment variables to expose port 80 and serve the frontend folder
    environment:
      - SERVER_ROOT=/frontend
      - SERVER_PORT=80
    # todo add traefik labels
    labels:
      - traefik.enable=true
      - traefik.http.routers.sws.rule=Host(`localhost`)
      - traefik.http.routers.sws.entrypoints=web
      - traefik.http.services.sws.loadbalancer.server.port=80
      - traefik.docker.network=web
    networks:
      - web

  order-postgres:
    image: postgres:latest
    restart: always
    networks:
      - intercom
    volumes:
      - order_pg_vol:/var/lib/postgresql/18/docker
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U docker -d order"]
      interval: 5s
      timeout: 3s
      retries: 20
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432